[submodule "qt-solutions"]
	path = qt-solutions
	url = https://github.com/silajim/qt-solutions.git
[submodule "freeDrive"]
	path = freeDrive
	url = https://github.com/silajim/FreeDrive.git
	branch = main
